body {
  background: #bad0ff;
}

a {
  color: #4861c4;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

footer {
  text-align: center;
  margin: 30px 0;
}
