@keyframes focusAnimation {
  0% {
    border-color: white;
    transform: scale(1);
  }
  100% {
    border-color: #66ff66;
    transform: scale(1.02);
  }
}

@keyframes hintFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.searchForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 5px;
  width: 300px;
}

.searchBar {
  width: 300px;
  height: 50px;
  border: 1px solid white;
  margin-right: 5px;
  padding-left: 8px;
  background-color: White;
  transition: border-color 0.3s ease, transform 0.3s ease;
}

.searchBar:focus {
  animation: focusAnimation 0.3s forwards;
}

::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.Hint {
  font-size: 15px;
  color: white;
  margin-top: 0;
  text-align: center;
  animation: hintFadeIn 1s ease-out;
}
